table{
    margin-top: 30px ;
    margin-right:100px;
    margin-bottom: 30px;
    color:white;
    background-color: #1A237E;
    border: 2px solid #E8EAF6;
    border-radius: 3px;
    width: 500px;
    height: 100px;
    float: left;
    text-align: center;
    
}

td{
    border:1px solid white;
    border-radius: 2px;
}

th{
    border: 1px solid white;
    text-align: center;
}

thead{
    border: 1px solid white;
    text-align: center;
}
.labelth{
    width: 300px;
    
}

button{
    margin-left: 20px;
}

input{
    height:35px;
    text-align: center;
    border: 2px solid #1A237E;
    border-radius: 10px;
}

.label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    

}

.herediv{
    float:left;
    margin-top:30px;
    margin-left:100px;
    width:300px;
    height: auto;
    margin-bottom: 30px;
   
}

.fn{
    margin-bottom: 20px;
}






