
    <div class="herediv">
        <label class="label">Földrajzi név:</label>    
    <div class="fn">
        <input type="text" [(ngModel)]="query">
        <button  type="button" (click)="getAddress()" mat-raised-button color="primary">Keresés</button>
    </div>
        <label class="label">Koordináták (x,y):</label>
    <div class="coo" >
        <input type="text" [(ngModel)]="position">
        <button  type="button" (click)="getAddressFromLatLng()" mat-raised-button color="primary">Keresés</button>
    </div>
    </div>
<div style="float:right">
      <table class="table">
        <thead class="thead">
            <tr style="text-align: left">
                <th>Helység</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations">
                <td>{{ location.Location.Address.Label }}</td>
                <td>{{ location.Location.DisplayPosition.Latitude }}</td>
                <td>{{ location.Location.DisplayPosition.Longitude }}</td>
            </tr>
        </tbody>
        
      </table>
</div>


