<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="mapdiv">
    <app-map-component (event)="onChildEvent($event)" [coords]="coords" appId="7hERzckbBK8ScTT2EW6P" appCode="dOfJLduwltQ7WDfM8lChqg" lat="" lng=""
    width="1000px" height="500px"></app-map-component>
  </div>
  <div class="herediv1">
    <app-here-component (event)="onChildEvent($event)"></app-here-component>
  </div>

  <div class="weatherdiv">
    <app-weater-component></app-weater-component>
  </div>
</div>

  



<router-outlet></router-outlet>
