.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.container{
  height: 100%;
  width: 1400px;
  background-color: #9FA8DA;
  margin:auto;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:30px;
  border:2px solid #E8EAF6;
}

.mapdiv{
  width: 1200px;
  background-color: 	#3f51b5;
  height: 600px;
  margin:auto;
  border-radius: 30px;
  border:3px solid #E8EAF6;
  
}

.herediv1{
  overflow: hidden;
  width: 1200px;
  height: auto;
  background-color: #3f51b5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
  border-radius: 30px;
  border:3px solid #E8EAF6;
  
 

  
  
}

.weatherdiv{
  width: 1200px;
  height: 200px;
  padding-top:50px;
  background-color: #3f51b5;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
  color: white;
  border:3px solid #E8EAF6;
  

  

  
}