<div >
    <p *ngIf="weather.length == 0">Searching...</p>
    <div *ngIf="weather.length > 0">
        <table style="width: 100%; text-align: center">
            <thead></thead>
            <tbody>
                <tr>
                    <td *ngFor="let forecast of weather">
                            <img [src]="forecast.iconLink" />
                        <p>{{ forecast.highTemperature }}C</p>
                        <p>{{ forecast.utcTime }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>